@font-face {
  font-family: "NotoSans-Regular";
  src: url(./fonts/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url(./fonts/NotoSans-Bold.ttf);
}
:root {
  --blue: #2898ed;
  --grey: #ebebeb;
  --darkgrey: #2898edaf;
  --lightgrey: #f5f8fa;
}
#root {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 15px;
  min-width: 1200px;
}
#breadcrumb {
  background-color: var(--lightgrey);
  color: #2697ed;
  padding: 10px 20px;
  font-size: 13px;
}
#breadcrumb span.slash {
  color: silver;
}
.voceMenu {
  padding: 14px 14px 14px 20px;
  border-bottom: 1px solid white;
}
.voceMenu:hover {
  background-color: var(--blue) !important;
  color: white !important;
  cursor: pointer;
}

/*Home / Lista Aziende ---------------------------*/

#home {
  display: flex;
  height: calc(100vh - 93px);
}
#menuAziende {
  flex: 1;
  background-color: var(--grey);
}
#listaAziende {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  padding: 0px 10px;
}
#listaAziende .azienda {
  cursor: pointer;
  background-color: var(--grey);
  padding: 20px;
  font-size: 14px;
  text-align: center;
  font-family: "NotoSans-Bold", sans-serif;
  color: #0385d9;
  margin: 20px 10px 0px;
  min-width: 245px;
}
#listaAziende .azienda div.logo {
  width: 100%;
  max-width: 193px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31px;
}
#listaAziende .azienda div.divisore {
  height: 15px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--blue);
}
#listaAziende .azienda.selected,
#listaAziende .azienda:hover {
  color: white;
  background-color: var(--blue);
}
#listaAziende .azienda:hover:not(.selected) {
  background-color: var(--darkgrey);
}
#listaAziende .azienda.selected div.divisore,
#listaAziende .azienda:hover div.divisore {
  border-bottom: 1px solid white;
}
#listaAziende .azienda.selected div.logo,
#listaAziende .azienda:hover div.logo {
  background-position: bottom;
}
/*Header ---------------------------*/

header {
  background-color: var(--blue);
  display: flex;
  color: white;
}
header div:not(.logo) {
  padding: 13px 25px 0px;
  flex: 0.7;
}
header .logo img {
  width: 110px;
}
header div.icone {
  text-align: right;
  padding: 0px;
  flex: 1;
}
header div.icone img:hover {
  background-color: #2c8dd7;
}
header div.icone img {
  padding: 10px 15px;
  cursor: pointer;
}
header div.menu {
  text-align: center;
  flex: 0 0 150px;
  border-right: 1px solid white;
}

/*Pagina d'accesso ---------------------------*/

#accesso {
  background-color: rgba(166, 194, 228, 1);
  height: 100vh;
  min-height: 675px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  background-image: url("developer.png");
  background-position: 85% 500px;
  background-repeat: no-repeat;
  background-size: 400px;
}

#intro {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  flex: 1;
  margin-left: 50px;
  height: 100vh;
  min-height: 675px;
  color: rgb(29, 29, 29);
}
#intro h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}
#intro h5 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}
#intro .gruppo h5 {
  margin-top: 0px;
}
#intro h2,
#intro b {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 400;
}
#intro h3 {
  font-size: 25px;
  font-weight: 400;
}
#intro div {
  padding: 10px 10px 0px 10px;
}
#intro .gruppo div {
  padding: 0px;
}
#intro .mission p,
#intro .gruppo p {
  font-size: 12px;
}
#intro .title {
  background-color: #ffffff91;
  margin: 0px -40px 15px;
  padding: 16px 40px;
}

/*LOGIN --------------------*/

#login {
  flex: 1.3;
  padding-top: 10vh;
  text-align: center;
}

#login img {
  margin-left: 10px;
}

#login h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #3b72b3 !important;
  border: 0px;
}
.btn-primary:hover {
  background-color: #34649c !important;
}

#login #content {
  width: 300px;
  display: inline-block;
  text-align: left;
}
#login input[type="text"] {
  width: 300px;
}
